* {
  box-sizing: border-box;
}

body {
  background-color: #000;
  padding: 20px;
  margin: 0;
}

.red {
  width: 350px;
  border: 1px solid red;
  margin-bottom: 40px;
}

.blue {
  background-color: #308dc0;
  padding: 10px;
}

.orange {
  background-color: #ffa500;
  border: 1px solid red;
  padding: 10px;

}

.text {
  background-color: #ddd;
  color: #000;
  border: 1px solid red;
  padding: 10px;
}
